@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  max-width: 1140px;
  margin: 1.5rem auto;
}
.navbar img {
  height: 50px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  
}


.nav-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold;
  /* font-family: "Noto Serif", serif; */
  font-family: "Inter", sans-serif;
  text-align: center;
}

.nav-links img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
/* -----------------------Navbar end----------------------- */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7.5rem auto;
  max-width: 1140px;
}

.banner-left {
  max-width: 570px;
  height: 286px;
  margin-top: 0rem;
}
.banner-left h1 {
  color: #000;
  font-weight: bold;
  font-size: 4rem;
  font-family: Noto Serif, serif;
}
.banner-left h1 span {
  color: #e95a08;
  font-weight: bold;
  font-family: Noto Serif, serif;
}
.banner-left p {
  color: #000;
  opacity: 0.5;
  font-size: 1.5rem;
  font-family: Inter, sans-serif;
  margin-top: 1rem;
}
.banner-right {
  width: 100%;
  height: 100%;
}
.banner-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* --------------------------------Banner end------------------------------ */

.our-plants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 7.5rem auto;
  max-width: 1140px;
}
.our-plants h2 {
  color: #000;
  font-weight: bold;
  font-size: 3rem;
  font-family: Noto Serif, serif;
  margin-top: 4rem;
}
.our-plants h2 span {
  color: #e95a08;
  font-weight: bold;
  font-family: Noto Serif, serif;
}
.our-plants p {
  color: #000;
  opacity: 0.5;
  font-size: 1.5rem;
  font-family: Inter, sans-serif;
  margin-top: 1rem;
  opacity: 0.5;
  max-width: 888px;
  text-align: center;
  max-height: 58px;
}

.all-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

  width: 100%;
  place-content: center;
  text-align: center;
  margin-top: 7.5rem;
}
.our-plants .card {
  margin: 1rem auto;
  display: grid;
  max-width: 270px;
  max-height: 485px;
  /* grid-template-columns: repeat(4, 1fr); */
}
.all-card .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.all-card .card h5 {
  color: #000;
  font-weight: normal;
  font-size: 1.5rem;
  font-family: Inter, sans-serif;
  margin-top: 1rem;
}
.all-card span {
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: Inter, sans-serif;
  margin-top: 0.5rem;
}
.btn {
  /* width: 180px; */
  height: 64px;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  background-color: #e95a08;
  font-weight: 600;
  margin: 2rem 0;
}
/* -------------------------Our Plants end---------------------------- */

.flower-lover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7.5rem auto;
  max-width: 1140px;
  max-height: 597px;
}
.flower-lover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content{
  max-width: 540px;
  max-height: 521px;
  margin-left: 2rem;
}
.content h1 {
  color: #000;
  font-weight: bold;
  font-size: 3.125rem;
  margin: 1rem 0;
  font-family: Noto Serif, serif;
  max-width: 540px;
}
.content ul li {
  color: #000;
  
  font-size: 1.325rem;
  font-family: Inter, sans-serif;
  margin-top: 0.5rem;
  opacity: 0.5;
  max-width: 540px;
  margin: 1rem 0;
  list-style-type: disc;
}
/* -------------------------flower-lover end---------------------------- */
.container {
  max-width: 1140px;
  margin: 7.5rem auto;
  text-align: center;
}

.section-header {
  margin-bottom: 40px;
}

.section-header h1 {
  font-weight: 700;
  color: #333;
  margin: 0;
  font-size: 3rem;
  font-family: Noto Serif, serif;
  margin-bottom: 1.5rem;
}

.section-header h1 span {
  color: #e95a08;
}

.section-header p {
  font-size: 1.5rem;
  color: #000;
  opacity: 0.5;

  margin: auto;
  line-height: 1.6;
  max-width: 888px;
  text-align: center;
  max-height: 58px;
}

.deals-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  text-align: left;
  max-width: 1140px;
  max-height: 424px;
  margin: 7.5rem auto;
}

.left-column {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.deal-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  height: 100%;
}

.deal-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  filter: brightness(0.5);
}

.deal-card-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.deal-card h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.deal-card p {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 0 15px 0;
}
.deal-card a{
  font-weight: 600;
}

.shop-now-btn {
  display: inline-block;
  padding: 10px 20px;

  color: #fff;
  text-decoration: underline;

  font-weight: semibold;
}

.right-column .deal-card {
  height: 100%;
}

.right-column .deal-card-content {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right-column .deal-card p {
  font-size: 2rem;
}

.right-column .deal-card p {
  font-size: 1.2rem;
}

/* ------------------------------------join section------------------------------------ */

.join {
  background-image: url("./assets/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 533px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent !important;
  max-width: 1440px !important;
  margin: 0 auto;
}
.content-container {
  max-width: 830px;
  width: 100%;
  max-height: 141px;
  gap: 0;
}
.join h1 {
  color: #fff;
  font-weight: bold;
  font-size: 3.125rem;
  margin: 1rem 0;
  font-family: Noto Serif, serif;
}
.content-container input {
  width: 630px;
  height: 64px;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-family: Inter, sans-serif;

  background-color: #fff;
}

.btn2 {
  width: 186px;
  height: 64px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: #e95a08;
  font-weight: 600;
  margin: 0;
  font-size: 1rem;
}

.form-container {
  display: flex;
  gap: 0;
}
/* ----------------------------join end---------------------------- */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 20px;
  max-width: 1440px;
  margin: 0 auto;
    flex-wrap: wrap; 
}

.footer-left {
    flex: 1;
    max-width: 300px; /* Adjust as needed */
    margin-right: 20px;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 15px;
}

.footer-description {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #000;
    opacity: 0.5;
}

.footer-links {
    display: flex;
    flex: 2;
    justify-content: space-around;
}

.footer-column {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 30px; 
    line-height: 2.5rem;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
   opacity: 0.5;
}



.footer-social {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 0 0 auto; /* Prevent stretching */
}

.social-icon img {
    width: 30px; /* Adjust size of social icons */
    height: 30px;
}

/* ---------------------------foooter end---------------------------- */

/* ---------------------------------Responsive start---------------------- */
@media screen and (max-width: 768px) {
  .banner,
  .our-plants,
  .flower-lover,
  .join,
  .footer {
    flex-direction: column;
  }
  .navbar {
    margin-left: 10%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 85%;
    align-items: center;
  }
  .nav-links li{
    display: none;
  }
 
  .banner {
    flex-direction: column-reverse;
    margin-top: 0.8rem;
    margin-bottom: 0rem;
  }
  .banner-left h1 {
    font-size: 1.5rem;
    margin-top: 1.25rem;
    padding: 0 1rem;
  }

  .banner-left p {
    padding: 0 1rem;
    font-size: 0.9rem;
  }
  .our-plants {
    margin: 0 auto;
  }
  .our-plants h2 {
    font-size: 1.5rem;
    margin-top: 0rem;
  }
  .our-plants p {
    font-size: 1rem;
    max-height: 80px;
    padding: 0 1.25rem;
    margin-bottom: 0rem;
  }

  .all-card {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .btn {
  height: 50px;
}
  .container {
    margin: 4rem auto;
    text-align: center;
    max-width: 361px;
    max-height: 648px;
    margin-top: 19rem;
  }

  .flower-lover {
    margin: 0 auto;
    /* padding: 1.5rem; */
  }

.flower-lover .img{
  padding: 1.5rem;
}
  .content h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
    width: 100%;
   
  }
  .content ul li {
    font-size: 0.9rem;
    padding:0 0.8rem;
    margin: 1rem 0;
    margin-left: 0.5rem;
  }
  .section-header h1 {
    font-size: 1.5rem;
    margin-top: 1.25rem;
    padding: 0 0;
  }

  .section-header p {
    padding: 0 1.5rem;
    font-size: 0.9rem;
    max-height: 200px;
    max-width: 361px;
  }
  .join {
    min-height: 275px;
    max-width: 412px !important;
    margin: 0 auto;
  }
  .join h1 {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  .content-container input {
    width: 218px;
    height: 50px;
    margin-left:auto;
    margin-right: 0;
  }
  .content-container {
    margin: 0 auto;
  }

  .btn2 {
    width: 110px;
    height: 50px;
    margin-right: auto;
    margin-left: 0;
  }
  .deals-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    text-align: center;
    padding: 1.5rem;
    margin: 3rem auto;
    margin-bottom: 5rem;
    max-height: 581px;
  }

  footer {
        flex-direction: column; 
       align-items: flex-start;
        padding: 30px 15px; 
    }

    .footer-left {
        max-width: 90%; 
        margin-right: 0;
        text-align: left; 
        margin-bottom: 30px;
    }

    .footer-logo {
        margin: 0 0 auto 15px; 
        margin-bottom: 1rem;
    }

    .footer-description {
        font-size: 1rem; 
    }

    .footer-links {
        flex-direction: column; 
        align-items: flex-start; 
        width: 100%; 
        margin-bottom: 30px; 
    }

    .footer-column {
        margin-right: 0; 
        margin-bottom: 20px; 
        text-align: left; 
    }

    .footer-column:last-child {
        margin-bottom: 0; 
    }

    .footer-social {
        justify-content: start;
        width: 100%; 
        gap: 20px; 
    }
}
